body {
    color: rgb(35, 35, 35);
    background-color: rgba(205, 211, 253, 0.1);
    font-family: 'Josefin Sans', sans-serif;
}

div { 
    margin: 7px;
}

.outer-container {
    display: grid;
    grid-template-columns: 35% 65%;
    text-align: center;
    margin-top: 100px;
    height: 300px;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

main {
    border-radius: 5px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    width: 80%;
    background-color: rgba(220, 220, 225);
    padding: 25px 0;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    background-color:rgba(255, 255, 255, 0.4);
}

input[placeholder] {
    padding: 5px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: rgba(65, 105, 225, 0.185) 2px solid;
}

@media (max-width:650px) {
    .outer-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
    }
    .main-container {
        width: 100%;
        margin: 0;
    }
    main {
        margin: 50px 0;
        width: 100%;
        height: 300px;
    }
}