body {
    color: rgb(35, 35, 35);
    background-color: rgba(100, 120, 255, 0.3);
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
}

div { 
    margin: 7px;
}

/* background-image: url('https://images.unsplash.com/photo-1491308056676-205b7c9a7dc1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzB8fGNsZWFyJTIwc2t5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); */
.container {
    background-position: center;
    background-size: cover;
    border: 2px solid rgba(120, 150, 255, 0.5);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    margin: 40px auto 0;
    padding-bottom: 150px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid rgba(120, 150, 255, 0.5);
    width: 60%;
    background-color: rgba(220, 220, 225);
    padding: 25px 0;
    align-items: center;
}

input[placeholder] {
    padding: 5px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: lightblue;
}

/* @media screen size < 580 .container && .innerContainer width: 95% */
@media (max-width:580px) {
    .container, .innerContainer {
        width: 90%;
    }
}